

body{
    background-attachment: fixed;
    background-image: url("bg2.png");
    background-size: cover;
    background-position: center bottom;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: relative;
    min-height: 100vh;
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.logo img{
  height:85px;
  margin-left: 35px;

}

.navbar ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  align-items: center;
  justify-content: space-between;
}

.navbar a{
  text-decoration: none;
  color: white;
  font-size: 2em;
  font-family: "Poppins", sans-serif;
  font-weight: 350;
}

.nav-right-group a{
  margin-left: 45px;
  font-family: "Poppins", sans-serif;
}

.nav-right-group a:hover{
  background: linear-gradient(90deg, #6876DF 0%, #B070FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-weight: 350;

}
.nav-right-group{
  padding-right: 50px;
  margin-top: -10px;
}


.dashboard{
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 35px;
    padding-top: 160px;
    height: 100vh;
    box-sizing: border-box;
    padding-bottom: 50px;
    
    max-width: 1200px;
    margin: 0 auto;
}


.bulb{
    grid-column: 2;
    grid-row: 1 / 3;
}

.card{
    background: #0d162000;
    border: 2px solid #6F87A7;
    border-radius: 12px;
    padding: 10px;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.card h2{
    color: #cfd8e3;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1.8em;
    margin: 0 0 15px 0;
}
.value{
    font-size: 7em;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin: 0;
    margin-top: -20px;
    background: linear-gradient(180deg, #ffffff 0%, #7fa8c9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.chart-card{
    border: 1px solid #6F87A7;
    border-radius: 12px;
    padding: 30px;
    padding-top: 40px;
    background: #072d4e6a;
    width: 80vw;
    height: 80vh;
    margin: 40px auto;
}

.graph1{
  height: 100vh;
}

.roboto-slab-<uniquifier> {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.allison-regular {
  font-family: "Allison", cursive;
  font-weight: 400;
  font-style: normal;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
